/* login.component.css */
:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Altura completa de la ventana */
    background-color: #f5f5f5; /* Color de fondo opcional */
  }
  
  mat-card {
    width: 400px; /* Ancho del card */
  }
  