.sidenav-container {
    display: flex;
    height: 100vh;
}

.sidenav {
    width: 250px;
    background-color: #f4f4f4;
}

.content {
    flex: 1;
    padding: 16px;
    overflow-y: auto;
    background-color: #fff;
}

.dashboard-container {
    padding: 20px;
}

.dashboard-indicators {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

mat-card {
    width: 30%;
}

.sidenav-container {
    display: flex;
    height: 100vh;
}

.sidenav {
    width: 250px;
    background-color: #f4f4f4;
}

.content {
    flex: 1;
    padding: 16px;
    overflow-y: auto;
    background-color: #fff;
}

.dashboard-container {
    padding: 20px;
}

.dashboard-indicators {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

mat-card {
    width: 30%;
}